@charset "utf-8";
/* CSS Document */

html {
	margin: 0;
	font: normal 0.75em/1.125em 'Helvetica', Arial, sans-serif;
	background-image: url("images/WinterKingdom.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;

}

/* Page Positioning */

body {
	width: 80em;
	margin: 0 auto;
}

#header {
	background: #B86E6F;
}

#navigation {
	background: #31FD00;
}

#contentwrapper {
	width: 80em;
}

#column1 {
	float: left;
	padding-right: 1.6666666666666667em;
	padding-left: 1.6666666666666667em;
	width: 23.333333333333332em;
	overflow: hidden;
}

#column2 {
	float: left;
	padding-right: 1.6666666666666667em;
	padding-left: 1.6666666666666667em;
	width: 23.333333333333332em;
	overflow: hidden;
}

#column3 {
	padding-right: 1.6666666666666667em;
	padding-left: 1.6666666666666667em;
	width: 23.333333333333332em;
	overflow: hidden;
}

#footer {
	position: fixed;
	width: 80em;
	bottom: 0em;
	background: #62D7F5;
}

/* Page Styles */

#header a, #navigation a {
	text-decoration: none;
	
}
